* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
}
.main {
  display: flex;
  justify-content: space-between;
}
.nav-area {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.nav-area nav {
  padding: 0 21px 0 15px;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
}

.menus {
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 10px;
}

.menu-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 3px;
}
.sub-menus{
  list-style: none;
margin-left: 22px;
}
.sub-menus .sub-menus__item {
opacity: 0.61;
  font-size: 13.5px;
  font-weight: 500;
  line-height: 2.22;
  text-decoration: none;
  text-align: left;
  color: #000;

}

.menu-items .menu-items__title {
  width: 100%;
  height: 47px;
  color: black;
  border: none;
  padding: 10px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);

}
.menu-items__title h3{
  font-size: 17px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}
.arrow::after {
  float: right;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 7px;
  height: 7px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  transform: rotate(135deg);
  transition: transform 0.2s;
}

.dropdown {
  font-size: 0.875rem;
  z-index: 9999;
  display: none;
  flex-direction: column;
  gap: 10px;
  max-width: 216px;
}


.active .arrow::after {
  transform: rotate(225deg);
}
.header {
  width: 252px;
  background-color: #f5f5f5;
  height: 100vh;
  overflow-y: auto;
}
.bttn {
  background-color: red;
  padding: 10px;
  border: none;
}
.dropdown .menu-items {
  background-color: peru;
  padding: 10px;
}
.submenu {
  /* display: none; */
}

.close-btn{
 width: 25px;
 border: none;
  height: 60px;
  object-fit: contain;
  opacity: 0.5;
  background-color: #fdd301;
  position: absolute;
  left: 250px;
  transition: .5s;
}

.nav-area .logo{
  text-decoration: none;
  width: 100%;
  height: 60px;
  padding: 15px 0 12px 34px;
  object-fit: contain;
  background-color: #fdd301;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.23;
  color: #000;
}
.nav-area .logo span{
  font-weight: 600;
}
.search input{
  width: 100%;
  height: 40px;
  margin: 0 2px 18px 0;
  padding: 12px 13.5px 12px 18px;
  object-fit: contain;
  border-radius: 3px;
  background-color: #fff;
  margin-top: 22px;
  font-size: 13px;
  font-weight: normal;
  line-height: 2.31;
  color: #ababab;
  border: none;
}
.sub-menus, .sub-menus2{
  display: none;
  margin-left: 22px;
}
.sub-menus2__item{
  opacity: 0.61;
    font-size: 13.5px;
    font-weight: 500;
    line-height: 2.22;
text-decoration: none;
    color: #000;
}
.menu-items.active .sub-menus{
  display: block;
}
.other-submenu.active .sub-menus2{
  display: block;
}
.sub-menus2__item.active{
  color: red;
}

.header.active{
display: block;
}
.header{
  transition:  .3s;

}
.close-btn.open{
  left: 0 !important;
  transition:  .5s;

}
.close-btn.open  .outlet, .content{
  margin-left: 25px !important;
  transition:  .5s;

}

.sub-menus__item.active{
background-color: red;
}